@media print {
    .purchase_header{
        display: none;
    }

    .print, .back{
        display: none;
    }

    body{
        background-color: white;
    }

    .cart{
        overflow: hidden;
    }
    
  }