
body {
    font-family: "Asap", sans-serif;
  }
  
  .container{
    width: 100%;
    height: 100%;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0 ;
    padding:0
  }
  .btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    pointer-events: none;
  }
  .btn.active{
    pointer-events: auto;
  }
  
  .login .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 15px 15px;
    background: linear-gradient(-135deg, #2a2f3b, #586279);
    margin-bottom: 60px;
  }
  
  
  .login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 5px 10px 10px rgba(255, 255, 255, 0.2);
    font-size:2rem !important;
    
  }
  
  
  .login::before,
  .login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .login::before {
    left: 45%;
    bottom: -70%;
    background-color: rgba(69, 105, 144, 0.15);
    animation: wawes 6s infinite linear;
  }
  .login::after {
    left: 40%;
    bottom: -65%;
    background-color: rgba(2, 128, 144, 0.2);
    animation: wawes 7s infinite;
  }
  .login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 1;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #586279;
    transition: background-color 300ms;
  }
  .login > button:hover {
    background-color: #2a2f3b;
  }
  .login a{
      text-decoration: none;
  }
  
  .login a:hover{
    
  }
  
  @keyframes wawes {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  