* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

html {
    font: 62.5%;
}

main {
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

main .card {
    max-width: 300px;
    flex: 1 1 210px;
    text-align: center;
    height: 400px;
    border: 1px solid lightgray;
    margin: 20px;
}

main .card .image {
    height: 50%;
    margin-bottom: 20px;
}

main .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .card .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 3em;
    height: 25%;
}

main .card .caption p {
    font-size: 1.5rem;
}

del {
    text-decoration: line-through;
}

main .card .caption .rate {
    display: flex ;
}

main .card .caption .rate i {
    color: gold;
    margin-left: 2px;
}

main .card a {
    width: 50%;
}

main .card button {
    border: 2px solid black;
    padding: 1em;
    width: 80%;
    cursor: pointer;
    margin-top: 2em;
    font-weight: bold;
    position: relative;
}

main .card button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
    margin: 0;
}

main .card button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
}

main .card button:hover::before {
    width: 20%;
}

main .card button:hover::after {
    width: 20%;
}
